{%  extends "HillCMSManageBundle:Default:manage-template.html.twig" %}
	{% block pagemenu %}
		{% set first = 0 %}
		{% for pages in allowed_pages %}
			<li {% if first == 0 %}class="active"{% endif %}><a href="#{{ pages["page"].Name }}" data-toggle="tab">{{ pages["page"].Name  }}</a></li>
			{% set first = first + 1 %}
		{% endfor %}
		<li><a href="#users" data-toggle="tab">User Management</a></li>
	{% endblock %}
	{% block pagethings %}
		{% set first = 0 %}
		{% for pages in allowed_pages %}
			<div class="tab-pane {% if first == 0 %}active{% endif %}" id="{{ pages["page"].Name }}">
            	{% for groups in pages["page_things"] %}
            		<h2>{{ (groups[0].Thingname|split('-'))[0] }}</h2>
            		{% for things in groups %}
	            		<h4>{{(things.Thingname|split('-'))[1] }}</h4>
	            		<p>
	            			<div class='editable' id= "{{ things.Thingid }}">{{ things.Content }} </div>
	            		</p>
	            	{% endfor %}
            	{% endfor %}
            	{#At the end you want to add our form, some of these shouldn't be enabled somehow, maybe manually.#}
            	{% for key, group in pages["supergroups"] %}
            		<h2>Add new {{ key }}</h2>
            	    <form id ="form" action='{{ path('addthing') }}' method="POST">
            		{% for field in group %}
            			<input type="text" name="{{key}}-{{ field }}" placeholder="{{ field }}"></input><br/>
            		{% endfor %}
            		<input type="hidden" value="{{ pages["page"].Pid }}" name="pageid"/>
            		<input type="submit"></input>
            		</form>
            	{% endfor %}
        	</div>
        	{% set first = first + 1 %}
        {% endfor %}
	{% endblock %}
{% block javascript %}
<script type="text/javascript">
	$(document).ready(function() {
     $('.editable').editable('{{ path('save')}}', {
         indicator : 'Saving...',
         tooltip   : 'Click to edit.',
         type      : 'textarea',
         cancel    : 'Cancel',
         submit    : 'OK' 
     });
    
         
 });
</script>
{% endblock %}